.collection-container {
    padding: 100px;
    background-color: #f9f9f9;
}

.main-container {
    /* margin: 100px auto ; */
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;    
}

.col-items {
    min-width: 250px;
    max-width: 250px;
    min-height: 150px;
    /* background-color: white; */
    border: 2px solid #d3d3d3;
    border-radius: 7px;
    margin: 30px 0;
    cursor: pointer;
    
} 

.col-items p {
    text-align: center;
    margin: 25% 0;
    font-size: 1.7vw;
}

.col-mid {
    margin: 0 30px;
    border: 2px solid black;
    min-height: 600px; 
    background-color: white; 
    box-shadow: 0 0 25px rgb(0 0 0 / 5%);
    max-width: 500px;
}

.col-mid p {
    text-align: center;
    margin: 50% 0;
    /* font-size: 1.5vw; */
}

.col-left-top{
    background-image: url(../../assets/articles-004_adobespark\ \(1\).jfif); 
    
}

 
.col-left-mid{
    background-image: url(../../assets/RB_Dig_KIQuiz_stage_00_image_caption_none_adobespark.jfif);
}
.col-left-mid p{
   color:white;
    
}
.col-left-bottom {
    background-image: url(../../assets/resume-copy-on-work-place-260nw-1434400523-Copy.jpg);  
}
.col-right-top{
    background-image: url(../../assets/photo-1581447109217-19026003eba5_adobespark\ \(1\).jfif);
}
.col-right-top p{
    color:white;
}
.col-right-mid{
    background-image: url(../../assets/istockphoto-1212911887-170667a_adobespark.jfif);
}
.col-right-mid p{
    color:white;
}
.col-right-bottom {
    background-image: url(../../assets/FAQ_0130-Copy.jpg); 
}
.col-mid img{
    width: 100%;
}

@media (max-width: 600px) {
    /* ...............Left Col...... */
    .main-container {
        display: block; 
    } 
    .col-items p {
        width: 100%;
        text-align: center;
        /* vertical-align: auto; */
        margin: auto 0; 
        font-size: 6vw;
    } 
    
    .collection-container{
        padding: 20px;
    } 
    .col-items {
        min-width: unset;
        max-width: none;  
    } 
    .col-left-mid-bottom{
        display: flex;
        flex-direction: row;
    }
    .col-left-mid, .col-left-bottom{
        width: 47%;
        display: inline-flex;
        margin-top: 0;
    }
    .col-left-mid{
        margin-right: 6%;
    }
    .col-items, .col-mid{
        background-color: grey !important;
        background-image: none;
    }
    /* -------------Right Col------------------- */
    .col-right-top-mid{
        display: flex;
        flex-direction: col;
        justify-content: center;
    }
    .col-right-top,.col-right-mid{
        width: 47%;
        display: inline-flex;
        margin-bottom: 0;
    }
    .col-right-top{
        margin-right: 6%;
    }

    /* ..................MID COL..................... */

    .col-mid{
        max-width: none;
        min-width: none;
        max-height: 500px;
        min-width: none;
        margin: 0;
        width: 100%; 
    }
    .col-left-top p,.col-right-bottom p{
        margin:25% 0;
    }
    .col-mid p{ 
        margin:10rem 0;
        font-size: 5vw;
    }
}