.reset-main{
    margin-top: 150px;
    /* max-width: 400px; */
}

.reset-main .container{
    max-width: 500px;
}

.reset-main form h2{
    text-align: center;
    margin-bottom: 60px;
}
.reset-container{
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 30px 40px;
} 
.reset-button{
    display: block;
    margin: 0 auto;
}