.signUp-main{
    margin-top: 150px;
    /* max-width: 400px; */
}

.signUp-main .container{
    max-width: 480px;
}

.signUp-main form h2{
    text-align: center;
    margin-bottom: 60px;
}
.signUp-container{
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 30px 40px;
} 
.signUp-button{
    display: block;
    cursor: pointer;
    margin: 30px auto 20px;
    padding: 6px 30px;
    border-radius: 21px;
    background-color: #7a7a7a;
    outline: none;
    color: #fff;
} 

button:hover,
button:focus {
    outline: none;
    background-color: #d1d1d1;
    color: #616161;
}


.signUp-error{
    color: red;
    font-size: 13px;
}

.already-have-an-account{
    font-size: 14px;
}
.already-have-an-account a{
    font-size: 16px;
}